@import '~style/helpers';

.container{
  overflow: auto;
  white-space: nowrap;
}
/*.uv{
    align-items: center;
    justify-content: center;
    padding-top: 12;
    padding: 32 0;
    border-radius: 4;
    background-color: 'black';
}
*/
.button{
  background: rgba(175,180,246,0.5);
  border: none;
  color: purple;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover{
  color: rgb(166, 82, 166);
}