@import '~style/helpers';

.container { 
	border: medium solid black;
	width: 414px;
	max-width: 414px;
	height: 736px;
	max-height: 736px;
	margin: 0 auto;
}
.topview{
	height: 50%;
	background-color: #5ec3e5;
	display: flex;
	flex-direction: column;
}
.botview{
	height: 50%;
	background-color: green;
	padding: 5%;
}
.mainView{
	display: flex;
	background-color: grey;
	flex:7;
}
.infoRow{
	background-color: yellow;
	flex:2;
}
.slider{
	background-color: orange;
	flex:3;
}
.weatherinfo{
	justify-self: center;
	padding: 50px;
	flex: 1;
}
.weathericon{
	background-color: white;
	flex: 1;
}